<!-- +HEAD BOILERPLATE -->
<%- include('../partials/head') %>

<body>
   <!-- +NAVBAR BOILERPLATE -->
   <%- include('../partials/navbar') %>
   <!-- =MAIN -->
   <div class="container-fluid py-3">
      <h1 class="text-black-50 text-center py-5 display-4 text-open-sans">Comments</h1>
      <ul class="list group list-group-flush">
         <!-- =GRAB COMMENTS-->
         <div class="container-fluid py-3">
            <% for (let comment of comments){ %>
            <article class=" py-3 font-size-1-2">
               <p class="lead"><%=comment.comment %> </p>
               <p class="blockquote-footer text-black-50 pl-4"> by <span
                     class="text-primary font-weight-bold"><%= comment.username %></span>
                  <span class="rounded-pill badge-info text-coral font-size-10px  ml-3 py-1 px-3 "><a
                        class="text-decoration-none  text-center text-light" href="/comments/<%= comment.id %> ">View
                     </a></span>
               </p>
               <% }%>
            </article>
            <div class="text-center pt-5 ">
               <a href="/comments/new"> <button type="button" class="btn btn-primary text-white font-weight-bold">New
                     Comment
                  </button></a>
            </div>
         </div>
   </div>
   <!-- +FOOTER BOILERPLATE -->
   <%- include('../partials/footer') %>
</body>

</html>